<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="apiSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="apiSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://churchdemo.ministryplatform.net/ministryplatformqa/public/api.asmx"
                binding="basicHttpBinding" bindingConfiguration="apiSoap"
                contract="Platform.apiSoap" name="apiSoap" />
        </client>
    </system.serviceModel>
</configuration>